body {
    background: linear-gradient(90deg, sandyBrown, saddleBrown);
}
.encabezados {
    border-radius: 10px;
    background-color: rgb(211, 185, 154);
    border: solid 3px black;
    padding: 20px 20px 20px 20px;
    margin: 40px 20px 20px 20px ;
}
.tituloEn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 6px 3px 5px rgb(48, 10, 5);
    color: rgb(105, 31, 31);
    padding: 10px 0 10px 0;
}
.parrafo1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    text-shadow: 6px 3px 5px grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0 100px 0 100px;
    padding: 40px 20px 40px 20px;
    width: 500px;
    height: 200px;
    background-color: rgb(235, 223, 211);
    text-align: center;
    /*falta centrar el contenido, contenido a la izquierda, corregir */
}
.subtitulos {
    border-radius: 0 100px 0 100px;
    padding: 40px 20px 50px 30px;
    width: 500px;
    height: 230px;
    margin: 50px;
    background-color: rgb(212, 226, 205);
}
h3.sub1 {
    /*font de google fonts*/
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
p.sub1Parrafo {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
h3.sub2 {
    font-family: 'Raleway', sans-serif;
    text-align: right;
}
p.sub2Parrafo {
    font-family: 'Raleway', sans-serif;
    text-align: right;
}